<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../node_modules/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>

<body>
    <div id="app">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">添加品牌</h3>
            </div>
            <div class="panel-body form-inline">
                <label>
                    ID:
                    <input type="number" class="form-control" v-model="id">
                </label>
                <label>
                    NAME:
                    <input type="text" class="form-control" v-model="name" @keyup.f2="add">
                </label>
                <input type="button" class="btn btn-primary" value="添加" @click="add">
                <label>
                    搜索名称关键字:
                    <input type="text" class="form-control" v-model="keywords" v-focus v-color="'blue'">
                </label>
            </div>
        </div>
        <table class="table table-bordered table-hover table-striped text-center">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NAME</th>
                    <th>CTIME</th>
                    <th>OPERTION</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in search(keywords)" :key="item.id">
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.Ctime | dateFormat }}</td>
                    <td>
                        <a href="" @click.prevent="del(item.id)"  v-fontsize="'14px'" v-fontweight="600">删除</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <script>
    Vue.filter('dateFormat', function(dataStr, pattern = '') {
        let dt = new Date(dataStr)
        let y = dt.getFullYear()
        let m = (dt.getMonth() + 1).toString().padStart(2, '0')
        let d = dt.getDate().toString().padStart(2, '0')
        if (pattern.toLowerCase() === 'yyyy-mm-dd') {
            return `${y}-${m}-${d}`
        } else {
            let hh = dt.getHours().toString().padStart(2, '0')
            let mm = dt.getMinutes().toString().padStart(2, '0')
            let ss = dt.getSeconds().toString().padStart(2, '0')
            return `${y}-${m}-${d} ${hh}:${mm}:${ss}`
        }
    })

    Vue.config.keyCodes.f2 = 113

    Vue.directive('focus', {
        inserted(el) {
            el.focus()
        }
    })

    Vue.directive('color', {
        bind(el, binding) {
            el.style.color = binding.value
        }
    })

    let vm = new Vue({
        el: '#app',
        data: {
            id: '',
            name: '',
            keywords: '',
            list: [
                { id: 1, name: '宝马', Ctime: new Date() },
                { id: 2, name: '奔驰', Ctime: new Date() },
            ]
        },
        methods: {
            add() {
                this.list.push({ id: parseInt(this.id), name: this.name, Ctime: new Date() })
                this.id = this.name = ''
            },
            del(id) {
                let index = this.list.findIndex(item => item.id == id)
                this.list.splice(index, 1)
            },
            search(keywords) {
                return this.list.filter(item => item.name.includes(keywords))
            },
        },
        filters: {
            dateFormat: function(dataStr, pattern = '') {
                let dt = new Date(dataStr)
                let y = dt.getFullYear()
                let m = (dt.getMonth() + 1).toString().padStart(2, '0')
                let d = dt.getDate().toString().padStart(2, '0')
                if (pattern.toLowerCase() === 'yyyy-mm-dd') {
                    return `${y}-${m}-${d}`
                } else {
                    let hh = dt.getHours().toString().padStart(2, '0')
                    let mm = dt.getMinutes().toString().padStart(2, '0')
                    let ss = dt.getSeconds().toString().padStart(2, '0')
                    return `${y}-${m}-${d} ${hh}:${mm}:${ss}`
                }
            }
        },
        directives: {
            fontweight: {
                bind (el, binging) {
                    el.style.fontWeight = binging.value
                }
            },
            fontsize: function (el, binging) {
                el.style.fontSize = parseInt(binging.value) + 'px'
            }
        }
    })
    </script>
</body>

</html>